* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-color: white;
    color: gold;
  }


 .container {
    max-width: 500px;
    margin: auto;
  }

  a.ui.button {
    color: black;
    background-color: ghostwhite;
  }

  h1 {
    font-size: 40px;
  }

  h3 {
    color: black;
  }

  a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  button.item {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  label {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
  }

  button {
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  input {
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-style: italic;
  }

  div#app {
    background-color: orchid;
  }